<h1>Pricing and Terms</h1>

<h2>Reservations</h2>

<p>
    A $500 security deposit is required in addition to the rental fee. The deposit will be returned within two weeks after 
    your stay, less any damages.
</p>
<p>
    The rental rates are listed below for groups of 13 people or less, larger groups pay a little more.There is a 5% lodging tax that is added to each rental. The rental payment is due two 
    weeks prior to the rental.
</p>
<p>
    Payments can be made via <strong>PayPal</strong> (MonticelloCabin&#64;gmail.com) 
    or <strong>Zelle</strong> (MonticelloCabin&#64;gmail.com).
</p>

<p>To reserve, check <a href="http://localhost:4200/availability">availability</a> then email MonticelloCabin&#64;gmail.com with your desired dates.</p>

<h2>2025 Rates</h2>
<h3>Summer Months (Memorial Day - Labor Day)</h3>
<ul>
    <li><strong>Weekend Rates:</strong> $1650</li>
    <li><strong>Extended weekends:</strong> $2000</li>
    <li><strong>Full Week:</strong> $3000</li>
</ul>

<h3>Non-Summer Months</h3>
<ul>
    <li><strong>Weekend:</strong> $1600</li>
    <li><strong>Extended weekends:</strong> $1950</li>
    <li><strong>Full Week:</strong> $2900</li>
</ul>
<h2>Check-In and Check-Out</h2>
<p>
    Check-in is at 3:00 PM and check-out is at 1:00 PM
</p>

<h2>Cancellation Policy</h2>
<p>
    If a reservation is cancelled with <strong>30 or more days notice</strong>, the security deposit will be fully refunded. 
    Otherwise, the security deposit will be forfeited.
</p>
