<h1>Pricing and Terms</h1>

<h2>Reservations</h2>
<p>
    A $500 security deposit is required to make a reservation. It is in addition to the rental fee and is returned two weeks 
    after the rental, contingent on the house being left in the condition that it was found. Any damages will be subtracted 
    from the security deposit prior to its return.
</p>
<p>
    The rental rates are listed below. There is a 5% lodging tax that is added to each rental. The rental payment is due two 
    weeks prior to the rental.
</p>
<p>
    Payments can be made via <strong>PayPal</strong> (MonticelloCabin&#64;gmail.com) 
    or <strong>Zelle</strong> (MonticelloCabin&#64;gmail.com).
</p>

<p> To make a reservation first check that the dates you want are available <a href="http://localhost:4200/availability">Availability</a> and then send an email to MonticelloCabin&#64;gmail.com specifying the dates for the reservation. </p>

<h2>2025 Rates</h2>
<h3>Summer Months (Memorial Day - Labor Day)</h3>
<ul>
    <li><strong>Weekend Rates:</strong> $1650</li>
    <li><strong>Extended weekends:</strong> $2000</li>
    <li><strong>Full Week:</strong> $3000</li>
</ul>

<h3>Non-Summer Months</h3>
<ul>
    <li><strong>Weekend:</strong> $1600</li>
    <li><strong>Extended weekends:</strong> $1950</li>
    <li><strong>Full Week:</strong> $2900</li>
</ul>

<h2>Cancellation Policy</h2>
<p>
    If a reservation is cancelled with <strong>30 or more days notice</strong>, the security deposit will be fully refunded. 
    Otherwise, the security deposit will be forfeited.
</p>
