<h1>Availability</h1>

<!--  
<a href="https://widgets.sociablekit.com/airbnb-calendar/iframe/25508724" id="airbnbCalendar" target="_blank" 
rel="noopener noreferrer"> Calendar</a>
-->

<router-outlet></router-outlet>

<iframe src="https://calendar.google.com/calendar/embed?src=31ggomme855jpomi4klv94fivdgb3gv3%40import.calendar.google.com&ctz=America%2FNew_York" 
style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<!--
<iframe src='https://widgets.sociablekit.com/airbnb-calendar/iframe/25508796' frameborder='0' width='100%' height='1000' sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
 -->

<!--  
<div class='sk-ww-airbnb-calendar' data-embed-id='25508724'></div>
<script src='https://widgets.sociablekit.com/airbnb-calendar/widget.js' async defer></script>
-->
<!--  
<div class='sk-ww-airbnb-calendar' data-embed-id='25508799'></div><script src='https://widgets.sociablekit.com/airbnb-calendar/widget.js' defer></script>
-->

  