<div class="container">
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/house-details">House Details</a></li>
      <li><a routerLink="/availability">Availability</a></li>
      <li><a routerLink="/pricing-terms">Pricing and Terms</a></li>
      <li><a routerLink="/local-resources">Local Resources</a></li>
      <li><a routerLink="/location">Location</a></li>
      <li><a routerLink="/main-level-photos">Main Level</a></li>
      <li><a routerLink="/lower-level-photos">Lower Level</a></li>
      <li><a routerLink="/outdoor-photos">Outdoor</a></li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
