<h1>House Details</h1>
<div>
    <div>
        <h2>Outside Space</h2>
        <ul>
            <li>7 acres set in secluded valley in New York's Catskill Mountains</li>
            <li>House set on two cleared and manicured acres</li>
            <li>Full size volleyball court, regulation horseshoe pit, children's play ground, basketball court</li>
            <li>Large propane grill</li>
            <li>Charcoal grill</li>
            <li>Fire pit</li>
            <li>Large deck with patio furniture sitting 16 people</li>
        </ul>
        <h2>House</h2>
        <ul>
            <li>3000 Sq. Ft, 2 level log cabin</li>
            <li>5 Bedrooms</li>
            <li>5 1/2 Bathrooms</li>
            <li>Den with pullout couch</li>
            <li>Kitchen with breakfast bar and 6 burner island </li>
            <li>Large recreation room with wet bar &amp; 85&quot; HDTV with Spectrum Cable</li>
            <li>Multiple HDTVs with Spectrum Cable</li>
            <li>Outdoor speakers</li>
            <li>Wireless internet access </li>
            <li>6 person indoor hot tub</li>
            <li>AC on main level</li>
            <li>Ceiling fans in all bedrooms, living room and on rear deck</li>
        </ul>
        <h2>Main Level</h2>
        <h3>Living Room</h3>
        <ul>
            <li>24x24 sunken living room with three skylights</li>
            <li>65&quot; HDTV with Spectrum Cable and DVD player</li>
            <li>Pellet stove</li>
            <li>AC unit</li>
            <li>Dual ceiling fans</li>
            <li>Dining table with seating for up to 14</li>
        </ul>
        <h3>Kitchen</h3>
        <ul>
            <li>Dual stacked ovens and center island gas 6 burner range</li>
            <li>Refrigerator with icemaker</li>
            <li>Two microwave ovens</li>
            <li>Access to front and kitchen deck</li>
            <li>AC unit </li>
            <li>Small Appliances including: food processor, blender, toaster, coffee makers, waffle iron, and crock pot
            </li>
        </ul>
        <h3>Den</h3>
        <ul>
            <li>Pullout couch</li>
            <li>Desk and chair</li>
            <li>HDTV connected to a Blue Ray player</li>
        </ul>
        <h3>First Floor Bedrooms (3) </h3>
        <h4>Owners Suite</h4>
        <ul>
            <li>King size bed</li>
            <li>Ensuite bathroom with multiple head therapeutic massage shower</li>
            <li>Large Closet</li>
            <li>Access to deck off of kitchen</li>
        </ul>
        <h4>Owners Suite</h4>
        <ul>
            <li>King size bed </li>
            <li>Ensuite bathroom with multiple head therapeutic massage shower</li>
            <li>Window ac unit </li>
            <li>Windows over looking front of property and back deck</li>
            <li>Closet</li>
        </ul>
        <h4>Hallway Bedroom</h4>
        <ul>
            <li>One queen size bed</li>
            <li>Closet</li>
            <li>Window ac unit</li>
            <li>Windows with views of front of property</li>
        </ul>
        <h2>Lower Level</h2>
        <h3>Recreation Room</h3>
        <ul>
            <li>Bar wtih sitting for 6</li>
            <li>Ice machine</li>
            <li>Multiple HDTVs</li>
            <li>Hot Tub</li>
            <li>Pool Table</li>
            <li>Air Hockey</li>
            <li>Foosball</li>
            <li>Ceiling fans</li>
            <li>Card Table</li>
        </ul>
        <h3>Lower Level Bedrooms (2)</h3>
        <h4>Bedroom Lower Right</h4>
        <ul>
            <li>One queen and one full size bed</li>
            <li>Connecting bathroom</li>
            <li>Closet</li>
        </ul>
        <h4>Bedroom Lower Left</h4>
        <ul>
            <li>Queen size bed</li>
            <li>Connecting bathroom</li>
            <li>Closet</li>
        </ul>
        <h3>Laundry Room</h3>
        <ul>
            <li>Washing machine</li>
            <li>Dryer</li>
        </ul>
    </div>
</div>